node_modules
.env
frontend/.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337


# Node modules (common for both Next.js and Hardhat)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Hardhat specific files
cache/
coverage/
.env
*.tsbuildinfo


# Next.js specific files
.next/
out/
.DS_Store
.vscode/

# Logs
logs/
*.log